@using E_Ticaret_Proje.Models;
@model IEnumerable<ProductModel>

<div class="row">

    @foreach (var urun in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <a href="/Home/Details/@urun.Id">
                <img class="card-img-top" src="~/theme/img/@urun.Image" alt="@urun.Name">
                </a>
                <div class="card-body pb-5">
                    <h4 class="card-title">
                        <a href="/Home/Details/@urun.Id"> @urun.Name</a>
                    </h4>
                    <p class="card-text pt-2 description">
                        @urun.Description
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted product-price">
                        @urun.Price
                        <i class="fa fa-try" aria-hidden="true"></i>
                    </small>
                    @*@HttpContext.Current.Request.Url.LocalPath*@
                    @if (HttpContext.Current.Request.Url.LocalPath == "/Home/List")
                    {
                        <a href="/Home/AuthorDetails/@urun.AuthorId" class="btn btn-sm float-right">
                            <i class="fa-solid fa-user pr-1" style="color: #6c757d"></i>
                            @urun.Author.Name
                        </a>
                    }
                    else
                    {
                    <small class="text-muted float-right">
                        <i class="fa-solid fa-user pr-1"></i>
                        @urun.AuthorName
                    </small>
                    }

                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        @urun.CategoryName
                    </small>
                    <a href="/Home/Details/@urun.Id" class="btn btn-default btn-sm float-right">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        Ürünü incele
                    </a>
                </div>
            </div>
        </div>
    }

</div>
