@using E_Ticaret_Proje.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "List";
}
<div class="container pb-5 pt-5">
    
        @Html.Partial("_ProductList", Model)
        <!--
        <div class="row">
        
            @foreach (var urun in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="holder.js/100px160/" alt="@urun.Name">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/Home/Details/@urun.Id"> @urun.Name</a>
                            </h4>
                            <p class="card-text">
                                @urun.Description
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                @urun.Price
                            </small>
                        </div>
                    </div>
                </div>
            }

        </div>
        -->
    
</div>

